@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Movie rental is an ASP.NET MVC5 application written for the sole purpose of learning </p>
<p> and a platform for experiments for it's developer. </p>
