@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ravenshq.net<br />
    Uttara, Dhaka<br />
    <abbr title="Phone">P:</abbr>
    111.555.4444
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zyrifsupport@mailinator.com">Support@movierental.com.bd</a><br />
    <strong>Marketing:</strong> <a href="mailto:zyrifmarketing@mailinator.com">Marketing@movierental.com.bd</a>
</address>